
<!doctype html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom CSS -->
  {% load static %}
  <link rel="stylesheet"  href="{% static 'sightings/carousel.css' %}">
  <title>Squirrels Tracker</title>
</head>

<body>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #C1693C;">
        <a class="navbar-brand" href="#">Squirrels Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map/">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/">Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/add">Add</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/sightings/stats">Statistics<span class="sr-only">(current)</span></a>
            </li>

          </ul>
        </div>
      </nav>
      
      <main role="main">
      
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Squirrels Sighting Statistics<img
              src="https://www.pngkey.com/png/full/60-607273_animals-baby-squirrel-cute-squirrel-squirrels-squirrel-squirrel.png"
              alt="Squirrels Logo" class="logo" width="160" height="120" /></h1>
              
              <h4>There were {{total_squarrel}} sightings at central park during 2018.</h4>
              <br>
              <br>
              By color:
              <ul>
                {% for item in color_lst %}
                <li>
                  {{item.primary_fur_color}}:{{item.c}}
                </li>
                {% endfor %}
              </ul>
    
              <br>
              By age:
              <ul>
                {% for item in age_lst %}
                <li>
                  {{item.age}}:{{item.c}}
                </li>
                {% endfor %}
              </ul>
    
              <br>
              By shift:
              <ul>
                {% for item in shift_lst %}
                <li>
                  {{item.shift}}:{{item.c}}
                </li>
                {% endfor %}
              </ul>
    
              <br>
              By location:
              <ul>
                {% for item in location_lst %}
                <li>
                  {{item.location}}:{{item.c}}
                </li>
                {% endfor %}
              </ul>
    
            </div>
          </div>


          </div>
        </div>
        <footer class="container">
            <p> Thanks to squirrel raw data from  <a href="https://data.cityofnewyork.us/Environment/2018-Central-Park-Squirrel-Census-Squirrel-Data/vfnx-vebw"
              target="_blank">NYC Open Data</a>.</p>
              <p>
                  Contributed by Kewei Chen and Jingshan Shi.
              </p>
          </footer>   
          

  </body>

</html>